<div class="container">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li>{{link-to 'Register' 'signup' id="register"}}</li>
          {{#unless currentUser}}
            <li>{{link-to 'Login' 'authentication.login'}}</li>
          {{else}}
            <li>{{link-to 'Account' 'account' id="account"}}</li>
            <li id="logout"{{action "logout"}}><a href="#">Logout</a></li>
          {{/unless}}
      </ul>
      <div id="current-user">
        {{currentUser}}
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  {{outlet}}
</div>
